nav{
    display:flex;
    justify-content: space-between;
    padding-inline: 25px;
}

#search-bar{
    display: flex;
    justify-content: center;
}
#search-input{
    height: 40px;
    width: 300px;
}
#logo{
    align-self: center;
}
#app-name{
    font-size: 24px;
    font-size: 24px;
}